section {
    background-color: antiquewhite;
    border: 2px solid green;
    margin: 25px;
    display: inline-block;
}

.subcategory {
    background-color: lightblue;
    height: 200px;
    width: 200px;
    vertical-align: middle;
    margin: 25px;
}

img {
    padding: 2px;
}